---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/1/events?access_token=<GITHUB_TOKEN>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1491796022'
      Etag:
      - W/"0c5e3f9e2f6f38a738af886848020a22"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1035554326,"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/events/1035554326","actor":{"login":"hubkit-test-machine-user","id":27156403,"avatar_url":"https://avatars2.githubusercontent.com/u/27156403?v=3","gravatar_id":"","url":"https://api.github.com/users/hubkit-test-machine-user","html_url":"https://github.com/hubkit-test-machine-user","followers_url":"https://api.github.com/users/hubkit-test-machine-user/followers","following_url":"https://api.github.com/users/hubkit-test-machine-user/following{/other_user}","gists_url":"https://api.github.com/users/hubkit-test-machine-user/gists{/gist_id}","starred_url":"https://api.github.com/users/hubkit-test-machine-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hubkit-test-machine-user/subscriptions","organizations_url":"https://api.github.com/users/hubkit-test-machine-user/orgs","repos_url":"https://api.github.com/users/hubkit-test-machine-user/repos","events_url":"https://api.github.com/users/hubkit-test-machine-user/events{/privacy}","received_events_url":"https://api.github.com/users/hubkit-test-machine-user/received_events","type":"User","site_admin":false},"event":"assigned","commit_id":null,"commit_url":null,"created_at":"2017-04-09T18:41:58Z","assignee":{"login":"hubkit-test-machine-user","id":27156403,"avatar_url":"https://avatars2.githubusercontent.com/u/27156403?v=3","gravatar_id":"","url":"https://api.github.com/users/hubkit-test-machine-user","html_url":"https://github.com/hubkit-test-machine-user","followers_url":"https://api.github.com/users/hubkit-test-machine-user/followers","following_url":"https://api.github.com/users/hubkit-test-machine-user/following{/other_user}","gists_url":"https://api.github.com/users/hubkit-test-machine-user/gists{/gist_id}","starred_url":"https://api.github.com/users/hubkit-test-machine-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hubkit-test-machine-user/subscriptions","organizations_url":"https://api.github.com/users/hubkit-test-machine-user/orgs","repos_url":"https://api.github.com/users/hubkit-test-machine-user/repos","events_url":"https://api.github.com/users/hubkit-test-machine-user/events{/privacy}","received_events_url":"https://api.github.com/users/hubkit-test-machine-user/received_events","type":"User","site_admin":false},"assigner":{"login":"hubkit-test-machine-user","id":27156403,"avatar_url":"https://avatars2.githubusercontent.com/u/27156403?v=3","gravatar_id":"","url":"https://api.github.com/users/hubkit-test-machine-user","html_url":"https://github.com/hubkit-test-machine-user","followers_url":"https://api.github.com/users/hubkit-test-machine-user/followers","following_url":"https://api.github.com/users/hubkit-test-machine-user/following{/other_user}","gists_url":"https://api.github.com/users/hubkit-test-machine-user/g[...]
- request:
    method: get
    uri: https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/1/events?access_token=<GITHUB_TOKEN>&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1491796022'
      Etag:
      - '"186b287b6445f03625bb3861259158ed"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/87730904/issues/1/events?access_token=<GITHUB_TOKEN>&page=1>;
        rel="last", <https://api.github.com/repositories/87730904/issues/1/events?access_token=<GITHUB_TOKEN>&page=1>;
        rel="first", <https://api.github.com/repositories/87730904/issues/1/events?access_token=<GITHUB_TOKEN>&page=1>;
        rel="prev"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 10 Apr 2017 03:05:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/events?access_token=<GITHUB_TOKEN>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
[...]
- request:
    method: get
    uri: https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/events?access_token=<GITHUB_TOKEN>&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1494725435'
      Etag:
      - '"186b287b6445f03625bb3861259158ed"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/87730904/issues/events?access_token=<GITHUB_TOKEN>&page=1>;
        rel="last", <https://api.github.com/repositories/87730904/issues/events?access_token=<GITHUB_TOKEN>&page=1>;
        rel="first", <https://api.github.com/repositories/87730904/issues/events?access_token=<GITHUB_TOKEN>&page=1>;
        rel="prev"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 May 2017 00:30:35 GMT
recorded_with: VCR 2.9.3
