---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/3/events?access_token=<GITHUB_TOKEN>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1494721826'
      Etag:
      - W/"c739bef1e7be0c6d6b2322d2d4dbb4bc"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1081140646,"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/events/1081140646","actor":{"login":"prehnRA","id":3952444,"avatar_url":"https://avatars0.githubusercontent.com/u/3952444?v=3","gravatar_id":"","url":"https://api.github.com/users/prehnRA","html_url":"https://github.com/prehnRA","followers_url":"https://api.github.com/users/prehnRA/followers","following_url":"https://api.github.com/users/prehnRA/following{/other_user}","gists_url":"https://api.github.com/users/prehnRA/gists{/gist_id}","starred_url":"https://api.github.com/users/prehnRA/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/prehnRA/subscriptions","organizations_url":"https://api.github.com/users/prehnRA/orgs","repos_url":"https://api.github.com/users/prehnRA/repos","events_url":"https://api.github.com/users/prehnRA/events{/privacy}","received_events_url":"https://api.github.com/users/prehnRA/received_events","type":"User","site_admin":false},"event":"assigned","commit_id":null,"commit_url":null,"created_at":"2017-05-14T00:15:55Z","assignee":{"login":"prehnRA","id":3952444,"avatar_url":"https://avatars0.githubusercontent.com/u/3952444?v=3","gravatar_id":"","url":"https://api.github.com/users/prehnRA","html_url":"https://github.com/prehnRA","followers_url":"https://api.github.com/users/prehnRA/followers","following_url":"https://api.github.com/users/prehnRA/following{/other_user}","gists_url":"https://api.github.com/users/prehnRA/gists{/gist_id}","starred_url":"https://api.github.com/users/prehnRA/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/prehnRA/subscriptions","organizations_url":"https://api.github.com/users/prehnRA/orgs","repos_url":"https://api.github.com/users/prehnRA/repos","events_url":"https://api.github.com/users/prehnRA/events{/privacy}","received_events_url":"https://api.github.com/users/prehnRA/received_events","type":"User","site_admin":false},"assigner":{"login":"prehnRA","id":3952444,"avatar_url":"https://avatars0.githubusercontent.com/u/3952444?v=3","gravatar_id":"","url":"https://api.github.com/users/prehnRA","html_url":"https://github.com/prehnRA","followers_url":"https://api.github.com/users/prehnRA/followers","following_url":"https://api.github.com/users/prehnRA/following{/other_user}","gists_url":"https://api.github.com/users/prehnRA/gists{/gist_id}","starred_url":"https://api.github.com/users/prehnRA/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/prehnRA/subscriptions","organizations_url":"https://api.github.com/users/prehnRA/orgs","repos_url":"https://api.github.com/users/prehnRA/repos","events_url":"https://api.github.com/users/prehnRA/events{/privacy}","received_events_url":"https://api.github.com/users/prehnRA/received_events","type":"User","site_admin":false}}]'
  recorded_at: Sun, 14 May 2017 00:16:26 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/3/events?access_token=<GITHUB_TOKEN>&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1494721826'
      Etag:
      - '"186b287b6445f03625bb3861259158ed"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/87730904/issues/3/events?access_token=<GITHUB_TOKEN>&page=1>;
        rel="last", <https://api.github.com/repositories/87730904/issues/3/events?access_token=<GITHUB_TOKEN>&page=1>;
        rel="first", <https://api.github.com/repositories/87730904/issues/3/events?access_token=<GITHUB_TOKEN>&page=1>;
        rel="prev"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 May 2017 00:16:26 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/1/events?access_token=<GITHUB_TOKEN>&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1494721826'
      Etag:
      - '"186b287b6445f03625bb3861259158ed"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/87730904/issues/1/events?access_token=<GITHUB_TOKEN>&page=1>;
        rel="last", <https://api.github.com/repositories/87730904/issues/1/events?access_token=<GITHUB_TOKEN>&page=1>;
        rel="first", <https://api.github.com/repositories/87730904/issues/1/events?access_token=<GITHUB_TOKEN>&page=1>;
        rel="prev"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 May 2017 00:16:27 GMT
recorded_with: VCR 2.9.3
