---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues?page=1&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1494724078'
      Etag:
      - W/"b225ab71c40e0566fe2572e726cb66ef"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/4","repository_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo","labels_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/4/comments","events_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/4/events","html_url":"https://github.com/hubkit-test-machine-user/hubkit-test-repo/pull/4","id":228508340,"number":4,"title":"A
        pr for a test","user":{"login":"prehnRA","id":3952444,"avatar_url":"https://avatars0.githubusercontent.com/u/3952444?v=3","gravatar_id":"","url":"https://api.github.com/users/prehnRA","html_url":"https://github.com/prehnRA","followers_url":"https://api.github.com/users/prehnRA/followers","following_url":"https://api.github.com/users/prehnRA/following{/other_user}","gists_url":"https://api.github.com/users/prehnRA/gists{/gist_id}","starred_url":"https://api.github.com/users/prehnRA/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/prehnRA/subscriptions","organizations_url":"https://api.github.com/users/prehnRA/orgs","repos_url":"https://api.github.com/users/prehnRA/repos","events_url":"https://api.github.com/users/prehnRA/events{/privacy}","received_events_url":"https://api.github.com/users/prehnRA/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2017-05-14T00:06:33Z","updated_at":"2017-05-14T00:06:33Z","closed_at":null,"pull_request":{"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/pulls/4","html_url":"https://github.com/hubkit-test-machine-user/hubkit-test-repo/pull/4","diff_url":"https://github.com/hubkit-test-machine-user/hubkit-test-repo/pull/4.diff","patch_url":"https://github.com/hubkit-test-machine-user/hubkit-test-repo/pull/4.patch"},"body":""},{"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/3","repository_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo","labels_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/3/comments","events_url":"http[...]
- request:
    method: get
    uri: https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues?page=2&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1494724078'
      Etag:
      - '"fafd06a937c504cece6726ba7201b0a1"'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/87730904/issues?state=all&page=1>; rel="last",
        <https://api.github.com/repositories/87730904/issues?state=all&page=1>; rel="first",
        <https://api.github.com/repositories/87730904/issues?state=all&page=1>; rel="prev"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 May 2017 00:16:25 GMT
recorded_with: VCR 2.9.3
