---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/labels?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1491770014'
      Etag:
      - W/"193ba2ef566394a55cfa9c024d1d3a19"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":580072863,"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/labels/bug","name":"bug","color":"ee0701","default":true},{"id":580072864,"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/labels/duplicate","name":"duplicate","color":"cccccc","default":true},{"id":580072865,"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/labels/enhancement","name":"enhancement","color":"84b6eb","default":true},{"id":580072866,"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/labels/help%20wanted","name":"help
        wanted","color":"128A0C","default":true},{"id":580072867,"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/labels/invalid","name":"invalid","color":"e6e6e6","default":true},{"id":580072868,"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/labels/question","name":"question","color":"cc317c","default":true},{"id":580072869,"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/labels/wontfix","name":"wontfix","color":"ffffff","default":true}]'
  recorded_at: Sun, 09 Apr 2017 19:40:30 GMT
recorded_with: VCR 2.9.3
