---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1491784131'
      Etag:
      - W/"d05e0ab0f1821315e241043160e750e1"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":87730904,"name":"hubkit-test-repo","full_name":"hubkit-test-machine-user/hubkit-test-repo","owner":{"login":"hubkit-test-machine-user","id":27156403,"avatar_url":"https://avatars2.githubusercontent.com/u/27156403?v=3","gravatar_id":"","url":"https://api.github.com/users/hubkit-test-machine-user","html_url":"https://github.com/hubkit-test-machine-user","followers_url":"https://api.github.com/users/hubkit-test-machine-user/followers","following_url":"https://api.github.com/users/hubkit-test-machine-user/following{/other_user}","gists_url":"https://api.github.com/users/hubkit-test-machine-user/gists{/gist_id}","starred_url":"https://api.github.com/users/hubkit-test-machine-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hubkit-test-machine-user/subscriptions","organizations_url":"https://api.github.com/users/hubkit-test-machine-user/orgs","repos_url":"https://api.github.com/users/hubkit-test-machine-user/repos","events_url":"https://api.github.com/users/hubkit-test-machine-user/events{/privacy}","received_events_url":"https://api.github.com/users/hubkit-test-machine-user/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/hubkit-test-machine-user/hubkit-test-repo","description":"Only
        exists to generate test cassettes for the hubkit test suite","fork":false,"url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo","forks_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/forks","keys_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/teams","hooks_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/hooks","issue_events_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/events{/number}","events_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/events","assignees_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/assignees{/user}","branches_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/branches{/branch}","tags_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/tags","blobs_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/languages","stargazers_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/stargazers","contributors_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/contributors","subscribers_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/subscribers","subscription_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/subscription","commits_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/contents/{+path}","compare_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/merges","archive_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/downloads","issues_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/issues{/number}","pulls_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/labels{/name}","releases_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/releases{/id}","deployments_url":"https://api.github.com/repos/hubkit-test-machine-user/hubkit-test-repo/deployments","created_at":"2017-04-09T18:41:35Z","updated_at":"2017-04-09T18:41:35Z","pushed_at":"2017-04-09T18:41:35Z","git_url":"git://github.com/hubkit-test-machine-user/hubkit-test-repo.git","ssh_url":"git@github.com:hubkit-test-machine-user/hubkit-test-repo.git","clone_url":"https://github.com/hubkit-test-machine-user/hubkit-test-repo.git","svn_url":"https://github.com/hubkit-test-machine-user/hubkit-test-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Sun, 09 Apr 2017 23:28:52 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1491784131'
      Etag:
      - '"186b287b6445f03625bb3861259158ed"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=1>; rel="last",
        <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=1>; rel="first",
        <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=1>; rel="prev"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 09 Apr 2017 23:28:52 GMT
recorded_with: VCR 2.9.3
